:root{
    --color-primary:#111827;     
}
html{font-size: 62.5%;}

body{box-sizing: border-box; font-size: 1.6rem;}

::-webkit-input-placeholder{font-size: 1.6rem;}
:-ms-input-placeholder{font-size: 1.6rem;}
::placeholder{font-size: 1.6rem;}


.mb-4{margin-bottom: 0.4rem!important;}
.container{max-width: 1235px;}

/* HEADER CODE START */
header .navbar-brand{margin-right: 4.125rem;}
header .navbar-toggler:focus{box-shadow: none;}
header .navbar-toggler{font-size:1.8rem;}
header .navbar{padding: 1.6rem 0;}
header .btn-dark{background-color:var(--color-primary); padding: 1rem 1.6rem; font-size: 1.6rem; width: 141px;}
header .nav-link{ padding: 0 3.2rem 0 0!important;}
header .log__in{padding-top: 1rem!important; padding-right:2.2rem!important;}
header .nav-item{font-size: 1.6rem;}
/* HEADER CODE END */

/* ONLINEBUSINESS CODE START */
.onlineBusinessParent{min-height: 642px; padding:4.8rem 0; position: relative; background-clip: content-box; display: flex; align-items: center;}
.onlineBusiness__Details{max-width: 620px;}
.onlineBusiness__Details h1{font-size: 6rem; font-weight: 800; letter-spacing: -0.0225em;}
.onlineBusiness__Details h1 span{background: linear-gradient(135deg, #B16CEA -14.15%, #FF5E69 55.21%, #FF8A56 78.12%, #FFA84B 100%); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;}
.onlineBusiness__Details p{font-size: 2rem; color:#6B7280 ; margin-top: 2rem; line-height: 2.8rem; font-weight: 400;}
.onlineBusiness .onlineBusiness__image{width:max(500px , 32%); height: 545px; background-color: #F3F4F6; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.onlineBusiness .onlineBusiness__image img {position: absolute; width: 448px; height: 299px; top: 140px; left: -128px;}

.FormLabel label{font-weight: 500; color: var(--color-primary); margin-bottom: 1.2rem;}
.FormLabel .form-control{height: 50px; max-width: 353px; border-radius: .6rem; color: #6B7280; font-weight: 400;}

.custombutton{padding: 1rem 1.6rem; position: relative; border: 0; color: #fff;  background:transparent; margin-left: 12px!important; border-radius: 3px!important; min-width:141px; }

.custombutton i{position: absolute; width: 100%; height: 100%; background:linear-gradient(135deg, #B16CEA 33.85%, #FF5E69 55.21%, #FF8A56 78.12%, #FFA84B 100%); left: 6px; top: 6px; z-index: 1; border-radius: 3px;}
.custombutton span{position: absolute; background: var(--color-primary); width: 100%; height: 100%; border-radius: 3px; padding-top: 1rem; z-index: 2; left: 0; top: 0;}
.onlineBusiness__pricacyPolicy{margin-top: 1.2rem; color: #6B7280;}
.onlineBusiness__pricacyPolicy a{color:var(--color-primary); font-weight: 500;}
/* ONLINEBUSINESS CODE END */

/* FEATURE CODE START */
.featureBetterway{padding: 192px 0 80px; position: relative; background: url(../src/assets/images/Path.png) no-repeat 0 206px; }
.featureBetterway::before{background: var(--color-primary); position: absolute; content: ''; width: 100%; height: 100%; transform: skewY(-3.5deg); margin-top: 4.8rem; z-index: -1; top: 0; left: 0;}
.featureBetterway__title{background: linear-gradient(135deg, #B16CEA 33.85%, #FF5E69 55.21%, #FF8A56 78.12%, #FFA84B 100%);
-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-transform: uppercase; font-weight: 700; font-size: 1.8rem;}
.featureBetterway__subtitle{font-size: 54px; letter-spacing: -0.0225em; font-weight: 800; color: #fff; margin-top: 1.6rem; margin-bottom: 4rem;}

.featureBetterway .child{border-radius: 1.2rem; max-width: 288px;}
.featureBetterway .child .card{padding:0 2.4rem 2.4rem; margin-bottom: 2.4rem; margin-right: 2.4rem; border-radius: 1.2rem;}
.featureBetterway .child .card img{width: 3.2rem; height: 3.2rem; margin-top: 3.2rem; margin-bottom: 2.4rem;}
.featureBetterway .child .card h3,.featureBetterway .child__sub h3{font-size: 2rem; color: #2F3941; margin-bottom: 0.8rem;}
.featureBetterway .child .card p,.featureBetterway .child__sub p{font-size: 1.4rem; line-height: 2rem; color: #49545C; margin-bottom: 0;}

.featureBetterway .child__sub{border-radius: 1.2rem; max-width: 592px; display: flex; flex-flow: row wrap-reverse;}
.featureBetterway .child__sub .card{flex: 1 1 260px; border-radius: 1.2rem; margin-bottom: 2.4rem; margin-right: 2.4rem; padding: 0 2.4rem 2.4rem;}
.featureBetterway .child__sub .top__card{padding: 2.8rem 3.2rem;}
.featureBetterway .child__sub .shareView img{width: 3.2rem; height: 3.2rem; margin-top: 6.2rem; margin-bottom: 2.4rem;}
.featureBetterway .child__sub .shareView.more p{font-size: 2rem; font-weight: 600; line-height: 2.6rem; color: #E9EBED; margin-bottom: 1.2rem;}
.featureBetterway .child__sub .shareView.more img{width: 23px; height: 29px;}
.featureBetterway .child__sub .shareView.more a{background: linear-gradient(135deg, #B16CEA 33.85%, #FF5E69 55.21%, #FF8A56 78.12%, #FFA84B 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; font-weight: 600;}
.top__card .top__card--child{display: flex; align-items: center;}
.top__card .top__card--child div{padding-left: 3.2rem;}
.featureBetterway .child__sub .top__card img{width: 272px; height: 190px;}

.alwaysLoop{margin-top: 148px; padding: 9.6rem 0; background: transparent url(src/assets/images/Path2.png) repeat-y 0 0;}
.alwaysLoop__author .list-group-item{min-height: 7.6rem; max-width: 460px; align-items: center; padding: 1.8rem 1.6rem; box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 8px; border: 0; border-radius: 0.8rem; margin-bottom: 0.8rem;}
.alwaysLoop__author img{width: 4rem; height: 4rem; border-radius: 75%; margin-right: 3.2rem;}
.alwaysLoop__author h4{font-size: 1.4rem; color: var(--color-primary); font-weight: 500; margin-bottom: 0;}
.alwaysLoop__author p{font-size: 1.4rem; color: #6B7280; font-weight: 400; margin: 0;}
.alwaysLoop__author .badge{font-weight: 500; height:                                         2.4rem; display: flex; align-items: center; position: relative; font-size: 1.4rem; padding: .2rem 1.2rem .2rem 2.2rem; border-radius: 1.2rem;}
.alwaysLoop__author .badge::before{position: absolute; left: .9rem; top: 1rem; content: ''; width: 0.6rem; height: 0.6rem; border-radius: 75%;}
.alwaysLoopright{padding-left: 6rem;}
.alwaysLoopright h5{font-size: 3rem; color: var(--color-primary); font-weight: 800; margin-bottom: 1.2rem;}
.alwaysLoopright p{font-size: 1.8rem; color: #6B7280; font-weight: 400; margin-bottom: 1.2rem; line-height: 2.8rem;}

.alwaysLoopright__mediaNotification{display: flex; margin-top: 4rem;}
.alwaysLoopright__mediaNotification img{width:4.8rem; height: 4.8rem; margin-right: 1.6rem;}
.alwaysLoopright__mediaNotification h6{ font-size: 1.8rem; color: var(--color-primary); font-weight: 500; margin-bottom: 0.8rem;}
.alwaysLoopright__mediaNotification p{ font-size: 1.6rem; color: #6B7280; line-height: 2.4rem; font-weight: 400; margin-bottom: 0;}

.simpletrickpricing{min-height: 450px; background: #F3F4F6; padding:9.6rem 0; position: relative;}
.simpletrickpricing__title{font-size: 4.8rem; font-weight: 800; color: var(--color-primary); margin-bottom: 1.6rem;}
.simpletrickpricing__details{font-size: 2rem; font-weight: 400; color: #4B5563;}

.lifetimemembership {position: absolute; display: flex; border: 0; min-height: 350px; bottom: 0; width: 1300px; left: 50%; transform: translate(-50%, 45%); box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.8rem;}
.lifetimemembership .card-body{padding: 4.8rem;}
.lifetimemembership .card-title{font-size: 3rem; color: var(--color-primary); font-weight: 800; margin-bottom: 2.4rem;}
.lifetimemembership .card-text{color: #6B7280;}
.lifetimemembership__whatinclude{margin: 3.2rem 0; position: relative;}
.lifetimemembership__text{display: inline-block; position: relative; z-index: 2; color: #4F46E5; text-transform: uppercase; font-weight: 600; background-color: #fff; padding-right: 1.6rem;}
.lifetimemembership__whatinclude span{position: absolute; z-index: 1; right: 0; top: 1.1rem; width: 100%; height: 0.2rem; background-color: #E5E7EB;}

.lifetimemembership__list li{display: inline-block; width: 48%; margin-bottom: 2rem; color: #374151; font-weight: 400; font-size: 1.4rem;}
.lifetimemembership__list li img{margin-right: 14px;}



.lifetimemembership__right{background: #F3F4F6; flex:0 0 333px; text-align: center; padding-top: 5rem;}
.lifetimemembership__right__title{font-size: 1.8rem; color: var(--color-primary); font-weight: 500;}
.lifetimemembership__right__price{font-size: 4.8rem; margin:1.6rem 0; line-height: 4.8rem; font-weight: 800; color: var(--color-primary); display: flex; align-items: center; justify-content: center;}
.lifetimemembership__right__price span{color: #6B7280; margin-left: 1.2rem; font-size: 2rem; font-weight: 500;}
.lifetimemembership__right__membership{font-size: 1.4rem; font-weight: 500; color: #6B7280; text-decoration: underline;}
.lifetimemembership__right__freesample{font-size: 1.4rem; font-weight: 500; color: var(--color-primary);}
.lifetimemembership__right__freesample span{color: #6B7280; font-weight: 500;}

.btn_secondary{padding: 1.3rem 2.1rem; background-color: var(--color-primary); border-radius: 0.6rem; margin: 2.4rem 0 1.6rem; color: #fff; width: 237px;}

.faq{margin: 310px auto; max-width: 768px;}
.faq__title{font-size: 48px; font-weight: 800; color: var(--color-primary); position: relative; text-align: center;}
.faq__title::before{position: absolute; content: ''; left: 0; bottom:-2.4rem; width: 100%; height: 2px; background: #E5E7EB;}
.faq .accordion-button{font-size: 1.8rem; font-weight: 500; padding: 2.4rem 0; color: #000; background: transparent;}
.faq .accordion-body{font-weight: 400; color: #6B7280; padding-left: 0;}
.faq .accordion .accordion-item:first-child{margin-top:2.2rem;}
.faq .accordion .accordion-button::after{width: 2rem; height: 2rem; background-size: 2rem; color: #9CA3AF; filter: opacity(0.5);} 


.badge__success{background: #D1FAE5; color: #065F46;}
.badge__success::before{background: #34D399;}
.badge__warning{background: #FEF3C7; color: #92400E;}
.badge__warning::before{background: #FBBF24;}
.badge__danger{background: #FEE2E2; color: #991B1B;}
.badge__danger::before{background: #F87171;}




@media screen and (max-width: 767.98px){
    header .nav-link{padding: 0 0 3.2rem 0!important;}
    header .first__child{margin-top: 2.525rem;}
    header .navbar{padding: 0;}
    header .btn-dark{width: inherit;}
    
  
   
}